<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <OAG_Recaptcha>
            <version>1.0.0</version>
        </OAG_Recaptcha>
    </modules>
    <global>
        <models>
            <oag_recaptcha>
                <class>OAG_Recaptcha_Model</class>
            </oag_recaptcha>
        </models>
        <blocks>
            <oag_recaptcha>
                <class>OAG_Recaptcha_Block</class>
            </oag_recaptcha>
        </blocks>
       <helpers>
            <oag_recaptcha>
                <class>OAG_Recaptcha_Helper</class>
            </oag_recaptcha>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <oag_recaptcha>
                    <file>oag_recaptcha.xml</file>
                </oag_recaptcha>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <oag_recaptcha_customer_account_createpost>
                        <type>model</type>
                        <class>OAG_Recaptcha_Model_Observer</class>
                        <method>preDispatchCreateCustomerPostRecaptchaValidation</method>
                    </oag_recaptcha_customer_account_createpost>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
        </events>
        <translate>
            <modules>
                <OAG_Recaptcha>
                    <files>
                        <default>OAG_Recaptcha.csv</default>
                    </files>
                </OAG_Recaptcha>
            </modules>
        </translate>
    </frontend>
</config>
